:root {
    --primary: #69ae14;
    --white: #fff;
    --black: #222;
    --grey1: #3a3b3c;
    --grey2: #828282;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
  
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
  }
  
  @media (max-width: 1200px) {
    .container {
      padding: 0 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 60rem;
    }
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--white);
    height: 13rem;
    line-height: 8rem;
    border-bottom: 3px solid brown;
  }
  
  .nav.fix-nav {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }
  
  .wrapper .logo {
    height: 100%;
  }
  
  .wrapper .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .wrapper .nav-list {
    display: inline-flex;
  }
  
  .nav-list li i {
    color: var(--grey2);
  }
  
  .nav-list a {
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 300ms ease;
  }
  
  .nav-list li a:hover {
    color: var(--primary);
  }
  .mega-box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8.5rem;
    left: 0;
    width: 100%;
    padding: 0 3rem;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
  }
  
  .mega-box .content {
    padding: 2.5rem 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .mega-box .content .row {
    width: calc(25% - 3rem);
    line-height: 4.5rem;
  }
  
  .content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content .row header {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--grey1);
  }
  
  .content .row .mega-links {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
    margin-left: -4rem;
  }
  
  .content .row li {
    padding: 0 2rem;
  }
  
  .content .row li a {
    padding: 0 2rem;
    display: block;
    font-size: 1.5rem;
    color: var(--grey2);
  }
  
  .content .row li a:hover {
    color: var(--primary);
  }
  
  .nav-list .mobile-item {
    display: none;
  }
  
  .nav-list input {
    display: none;
  }
  
  .wrapper .btn {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .nav-list .icons span {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
    position: relative;
  }
  
  .nav-list .icons a {
    padding: 0;
    display: inline-block;
  }
  
  .nav-list .icons .count {
    justify-content: center;
    position: absolute;
    top: 0.8rem;
    right: -0.8rem;
    background-color: var(--primary);
    height: 2rem;
    padding: 0.5rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 50%;
  }
  
  @media (max-width: 968px) {
    .wrapper .nav-list {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      max-width: 35rem;
      background-color: var(--white);
      display: block;
      overflow-y: auto;
      line-height: 5rem;
      box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
      transition: all 300ms linear;
    }
  
    .wrapper .nav-list.show {
      left: 0;
    }
  
    .nav-list li {
      margin: 1.5rem 1rem;
    }
  
    .nav-list a {
      display: block;
      font-size: 1.8rem;
      padding: 0 2rem;
      color: var(--black);
    }
  
    .nav-list .drop-menu1,
    .nav-list .drop-menu2 {
      position: static;
      opacity: 1;
      visibility: visible;
      top: 6.5rem;
      padding-left: 2rem;
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }
  
    #showdrop1:checked ~ .drop-menu1,
    #showdrop2:checked ~ .drop-menu2,
    #showMega:checked ~ .mega-box {
      max-height: 100%;
    }
  
    .nav-list .drop-menu1 li,
    .nav-list .drop-menu2 li {
      margin: 0;
    }
  
    .nav-list .drop-menu1 li a,
    .nav-list .drop-menu2 li a {
      color: var(--grey2);
      font-size: 1.5rem;
    }
  
    .nav-list .desktop-item {
      display: none;
    }
  
    .nav-list .mobile-item {
      display: block;
      font-size: 1.8rem;
      padding-left: 2rem;
      color: var(--black);
      cursor: pointer;
      border-radius: 0.5rem;
    }
  
    .nav-list .mobile-item:hover {
      color: var(--primary);
    }
  
    .mega-box {
      position: static;
      top: 6.5rem;
      padding: 0 2rem;
      opacity: 1;
      visibility: visible;
      max-height: 0;
      overflow: hidden;
      transition: all 300ms ease;
    }
  
    .mega-box .content {
      flex-direction: column;
  
      padding: 2rem 2rem 0 2rem;
    }
  
    .mega-box .content .row {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.09);
      margin-bottom: 1.5rem;
    }
  
    .content .row:nth-child(1),
    .content .row:nth-child(2) {
      border-top: 0;
    }
  
    .content .row .mega-links {
      border-left: 0;
      padding-left: 2rem;
    }
  
    .row .mega-links li {
      margin: 0;
    }
  
    .wrapper .btn {
      display: block;
      color: var(--black);
    }
  
    .nav-list .top {
      position: relative;
      display: block;
      background-color: var(--primary);
      width: 100%;
      height: 8rem;
    }
  
    .nav-list .close-btn {
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      color: var(--white);
    }
  
    .nav-list .icons {
      padding-left: 2rem;
    }
  }


  .nav-list .icons span {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
    position: relative;
  }
  
  .nav-list .icons a {
    padding: 0;
    display: inline-block;
  }
  .nav-list .icons .count {
    justify-content: center;
    position: absolute;
    top: 0.8rem;
    right: -0.8rem;
    background-color: var(--primary);
    height: 2rem;
    padding: 0.5rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 50%;
  }

  /*homepage  Hero */
  .hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .swiper-container,
  .hero .row {
    width: 100%;
    height: 100%;
  }
  
  .hero .row {
    position: relative;
  }
  
  .hero .row img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .hero .row .content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
  }
  
  .hero .row .content h1 {
    line-height: 1.2;
    font-size: 5rem;
    font-weight: 700;
    color: white;
  }
  
  .hero .row .content span {
    color: var(--primary);
  }
  
  .hero .row .content p {
    margin: 1rem 0 1rem;
    width: 70%;
  }
  
  .hero .row .content a {
    display: inline-block;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    padding: 1rem 2.5rem;
    margin-top: 5rem;
  }
  
  .swiper-slide-active .content h1 {
    animation: movebottom 1s ease-in-out;
  }
  
  .swiper-slide-active .content a {
    animation: movetop 1s ease-in-out;
  }
  
  .swiper-slide-active .content p {
    animation: moveleft 1s ease-in-out;
  }
  
  @keyframes movebottom {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes movetop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes moveleft {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @media (max-width: 567px) {
    .hero .row .content {
      left: 20px;
    }
  
    .hero .row .content h1 {
      font-size: 3rem;
    }
    .hero .row .content p {
      width: 80%;
    }
  }

  /*service button*/
#services .title {
    font-size: 30px;
    font-weight: 500;
    padding: 5px 0px;
    color: brown;
    line-height: 30px;
  }
  #services .pro-content {
    font-size: 18px;
    color: black;
    margin: 0;
    margin-top: 20px;
  }
  .pro-content .btn {
  background-color:green;
    color: white;
    font-size: 18px;
    padding: 6px;
  }
  .pro-content .btn:hover {
    background-color: white;
    color: black;
    border: 1px solid brown;
  }
/*service main button */


  /*reason to choose us*/

.testimonial .testimonial4_header {
    top: 0;
    left: 0;
    bottom: 0;
    width: 550px;
    display: block;
    margin: 30px auto;
    text-align: center;
    position: relative;
  }
  .testimonial .testimonial4_header h4 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .testimonial .testimonial4_slide {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    
  }
  .testimonial .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    
  }
  .testimonial .testimonial4_slide h6 {
    color: black;
    margin-top: 9px;
    text-align: center;
  }
  .testimonial .testimonial4_slide h4 {
    color: black;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
  }
  /*FAQ*/
   
    .accordion {
  
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    }
    .accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
    }
    .accordion__answer p {
    margin: 5px;
   
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(119, 193, 218);
    border-radius: 10px;
    }
    .accordion:hover {
    cursor: pointer;
    }
    .accordion__answer {
    display: none;
    }
    .accordion.active .accordion__answer {
    display: block;
    }
    
    /* FOOTER style */
  
  footer {
    background-color: rgb(119, 193, 218);
    color: white;
    margin-top: 0px;
    overflow: hidden;
  }
  footer h2 {
    margin-left: 20px;
  }
  footer li {
    line-height: 2.5rem;
    list-style-type: none;
  }
  footer a {
    color: black;
    font-size: 17px;
    transition-duration: 0.3s;
    text-decoration: none;
  }
  footer a:hover {
    color: brown;
    text-decoration: none;
  }
  .copy {
    font-size: 13px;
    padding: 5px;
    border-top: 1px solid gray;
    margin-top: 50px;
  }
  .copy .text-center {
    margin-top: 10px;
  }
  .footer-middle {
    padding-top: 2em;
    color: black;
  }
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  ul.social-network li {
    display: inline;
    margin: 0 3px;
  }
  
  .social-network a.icoFacebook {
    color: black;
  }
  .social-network a.icoLinkedin {
    color: black;
  }
  
  .social-network a.icoenvelope {
    color: #000;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 32px;
    font-size: 24px;
  }
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }

